<h2>Your transaction</h2>

<%= link_to 'your booking history', booking_history_path %>
<div>
  <% @transactions.each do |transaction| %>
    <div class="card-transaction">
      <%= cl_image_tag transaction.pokemon.photo.key, height: 450, width: 400, crop: :fill, class: "card-img-tr" %>
      <div class="card-product-infos-tr" >
        <h2><%= transaction.pokemon.name %></h2>
        <p><%= transaction.pokemon.type_pokemon %></p>
        <p>Level: <%= transaction.pokemon.level %></p>
        <p><%= transaction.pokemon.description %></p>
        <div class="transaction-date">
          <p>From: <%= transaction.start_date %></p>
          <p>Until: <%= transaction.end_date %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
