<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new Pokemon</h1>
      <%= simple_form_for @pokemon do |f| %>
        <%= f.input :name %>
        <%= f.input :type_pokemon, as: :select, collection: Pokemon::TYPE_POKEMON %>
        <%= f.input :description %>
        <%= f.input :level %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>