<h2><%= @pokemon.name %></h2>

<p>These are the details of the Pokemon:</p>

<% if @pokemon.photo.attached? %>
  <%= cl_image_tag @pokemon.photo.key, height: 300, width: 200, crop: :fill %>
<% end %>
<ul>
  <li><%= @pokemon.name %></li>
  <li><%= @pokemon.type_pokemon %></li>
  <li><%= @pokemon.description %></li>
  <li><%= @pokemon.level %></li>
</ul>
<br>
<%#= #render 'transactions/form' %>
<p><%= link_to "Back to overview", pokemons_path %></p>

<% if current_user.id != @pokemon.user_id %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Rent this Pokemon</h1>
        <%= simple_form_for [@pokemon, @transaction] do |f| %>
          <%= f.input :start_date, as: :date, placeholder: "Start Date" %>
          <%= f.input :end_date, as: :date, placeholder: "End Date" %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
