 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Rent a new Pokemon</h1>
      <%= simple_form_for([@pokemon, @transaction]) do |f| %>
        <%= f.input :name %>
        <%= f.input :start_date, as: :date, placeholder: "Start Date" %>
        <%= f.input :end_date, as: :date, placeholder: "Start Date" %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
